In [99]:
import akshare as ak
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import plotly.offline as py
from tqdm import tqdm

pd.options.plotting.backend = "plotly"

stocks = ak.stock_board_industry_cons_ths(symbol="白酒")

all_pe = pd.DataFrame()
all_pb = pd.DataFrame()
all_ps = pd.DataFrame()
all_dv = pd.DataFrame()
all_mv = pd.DataFrame()

for i in tqdm(range(len(stocks))):
    code = stocks.loc[i, "代码"]

    ind = ak.stock_a_lg_indicator(code)
    ind.to_csv("value-{}.csv".format(code))
    pe = pd.Series(list(ind["pe_ttm"]), index=pd.to_datetime(ind["trade_date"]))
    pb = pd.Series(list(ind["pb"]), index=pd.to_datetime(ind["trade_date"]))
    ps = pd.Series(list(ind["ps_ttm"]), index=pd.to_datetime(ind["trade_date"]))
    dv = pd.Series(list(ind["dv_ttm"]), index=pd.to_datetime(ind["trade_date"]))
    mv = pd.Series(list(ind["total_mv"]), index=pd.to_datetime(ind["trade_date"]))
    pe_df = pd.DataFrame({code: pe}).fillna(0)
    pb_df = pd.DataFrame({code: pb}).fillna(0)
    ps_df = pd.DataFrame({code: ps}).fillna(0)
    dv_df = pd.DataFrame({code: dv}).fillna(0)
    mv_df = pd.DataFrame({code: mv}).fillna(0)
    all_pe = pd.concat([all_pe, pe_df], axis=1)
    all_pb = pd.concat([all_pb, pb_df], axis=1)
    all_ps = pd.concat([all_ps, ps_df], axis=1)
    all_dv = pd.concat([all_dv, dv_df], axis=1)
    all_mv = pd.concat([all_mv, mv_df], axis=1)

cols = all_pe.columns.values
trace_list = []
for i in range(0, len(cols)):
    trace_list.append(go.Scatter(x=all_pe.index, y=all_pe[cols[i]], mode="lines", name=cols[i]))

fig = go.Figure(trace_list)
py.plot(fig)
# print(all_pe)
# print(all_pe[:])
# print(ind_df)
# plt.style.use('ggplot')
# color_palette = sns.color_palette("hls", 5)
# plt.rcParams['font.sans-serif'] = ['Times New Roman']
# fig = plt.figure(figsize=(16, 12))
# pd.set_option('plotting.backend', 'matplotlib')

# fig = make_subplots(rows=5, cols=1)

# fig.append_trace(go.Scatter(x=all_pe.index, y=all_pe[:], mode="lines", name="pe"), 1, 1)
# fig.update_layout(width=1500, height=(len(cols) * 600))
# fig.show()

'temp-plot.html'

In [93]:
print(all_pe)

             000568   000860   600197
trade_date
2003-01-06  47.7800  29.7467  41.5829
2003-01-07  47.7800  29.4587  41.5829
2003-01-08  48.4688  30.4462  42.3991
2003-01-09  49.4707  30.9810  43.3060
2003-01-10  49.2203  30.4873  43.1246
...             ...      ...      ...
2022-12-26  32.3457      NaN  63.0839
2022-12-27  33.0878      NaN  63.5660
2022-12-28  33.3570      NaN  61.7897
2022-12-29  32.5941      NaN  61.2314
2022-12-30  33.3540      NaN  62.2718

[4856 rows x 3 columns]

In [76]:
print(all_pe)

           000568 000860 600197 002646 000995 000858 600199 600559 600809  \
trade_date
2003-01-06    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2003-01-07    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2003-01-08    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2003-01-09    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2003-01-10    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
...           ...    ...    ...    ...    ...    ...    ...    ...    ...
2022-12-26    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-12-27    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-12-28    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-12-29    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-12-30    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

           603198 600519 002304 600702 603369 600696 603919 000799 603589  \
trade_date
2003-01-06    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2003-01-07    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2003-01-08    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2003-01-09    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2003-01-10    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
...           ...    ...    ...    ...    ...    ...    ...    ...    ...
2022-12-26    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-12-27    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-12-28    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-12-29    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-12-30    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

           000596 600779
trade_date
2003-01-06    NaN    NaN
2003-01-07    NaN    NaN
2003-01-08    NaN    NaN
2003-01-09    NaN    NaN
2003-01-10    NaN    NaN
...           ...    ...
2022-12-26    NaN    NaN
2022-12-27    NaN    NaN
2022-12-28    NaN    NaN
2022-12-29    NaN    NaN
2022-12-30    NaN    NaN

[78610 rows x 20 columns]

In [74]:
ind_df['total_mv']

# print(10 **8)

trade_date
2007-09-25    1.993368e+08
2007-09-26    2.000379e+08
2007-09-27    2.173308e+08
2007-09-28    2.184993e+08
2007-10-08    2.294827e+08
                  ...
2022-12-26    1.375060e+08
2022-12-27    1.395061e+08
2022-12-28    1.402562e+08
2022-12-29    1.397561e+08
2022-12-30    1.407562e+08
Name: total_mv, Length: 3698, dtype: float64

In [ ]:
import pandas as pd
import pandas_bokeh
import numpy as np

np.random.seed(42)
df = pd.DataFrame({"谷歌": np.random.randn(1000) + 0.2, 
                    "苹果": np.random.randn(1000) + 0.17}, index=pd.date_range('1/1/2022', periods=1000))

df = df.cumsum()
df = df + 50
pd.set_option('plotting.backend', '')

# pandas_bokeh.output_notebook()
df.plot_bokeh.line()